
<p-panel header="Prenota Backup Gestionale" [style]="{'margin': '1em'}" [toggleable]="true">
    <div class="field col-12 md:col-4">
        <label for="icon">Data riferimento:</label>
        &nbsp;
        <p-calendar [(ngModel)]="dataRifBckupGest" [showIcon]="true" inputId="icon"></p-calendar>
        &nbsp;
        <button pButton pRipple type="button" label="Start" class="p-button-raised" icon="pi pi-chevron-right"
            [disabled]="dataRifBckupGest === undefined"
            (click)="start()"></button>
    </div>
</p-panel>

<p-panel header="Storico" [style]="{'margin': '1em'}">

    <p-table #table1 [value]="listaCompleta" responsiveLayout="scroll" selectionMode="single" [(selection)]="prenotazioneSelected" dataKey="periodo"
    [globalFilterFields]="['periodo','utente']" (onRowSelect)="selectRow($event)">
        <ng-template pTemplate="caption">
            <div class="flex">
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="doFilter(table1, $event)" placeholder="Cerca..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="periodo">Periodo <p-sortIcon field="periodo"></p-sortIcon></th>
                <th>Partizioni Prenotate</th>
                <th pSortableColumn="pctAvanzamento">Stato <p-sortIcon field="pctAvanzamento"></p-sortIcon></th>
                <th pSortableColumn="tmsPrenotazione">Data pren. <p-sortIcon field="tmsPrenotazione"></p-sortIcon></th>
                <th pSortableColumn="utente">Utente <p-sortIcon field="utente"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-p>
            <tr [pSelectableRow]="p">
                <td>{{p.periodo}}</td>
                <td>{{p.partizioniPrenotate}} partizioni</td>
                <td>
                    <div *ngIf="p.pctAvanzamento&lt;100">Invio archivio backup in corso...</div>
                    <p-progressBar *ngIf="p.pctAvanzamento&lt;100" [value]="p.pctAvanzamento"></p-progressBar>
                    <div *ngIf="p.pctAvanzamento>=100" >Periodo svecchiato.</div>
                </td>
                <td>{{p.tmsPrenotazione}}</td>
                <td>{{p.utente}}</td>
            </tr>
        </ng-template>
    </p-table>

</p-panel>

<p-dialog header="Richiesta numero {{dettagliPrenotazione?.id}}" [(visible)]="showDialog" [modal]="true">
    <div *ngIf="dettagliPrenotazione" style="width:90vw">
        <div class="col-12 row">
            <div class="col-8 row">
                <div class="col-5 leftcol"> Stato</div><div class="col-6">
                    {{dettagliPrenotazione.pctAvanzamento}}% - {{dettagliPrenotazione.stato}}
                    <button *ngIf="dettagliPrenotazione.stato=='Backup eseguito'" pButton pRipple type="button" label="Prenota svecchiamento" class="p-button-raised" icon="pi pi-save"
                        [disabled]="dataRifBckupGest === undefined"
                        (click)="prenotaSvecchiamento()"></button>
                </div>
                <div class="col-5 leftcol"> Periodo</div><div class="col-6"> {{dettagliPrenotazione.periodo}}</div>
                <div class="col-5 leftcol"> Backup prenotato da</div><div class="col-6"> {{dettagliPrenotazione.utente}}</div>
                <div class="col-5 leftcol"> il</div><div class="col-6"> {{dettagliPrenotazione.tmsPrenotazione}}</div>
                <div class="col-5 leftcol"> Note</div><div class="col-6"><!-- TODO scrollable --> {{dettagliPrenotazione.note}}</div>
                <div class="col-5 leftcol"> Start Elaborazione</div><div class="col-6"> {{dettagliPrenotazione.startElab}}</div>
                <div class="col-5 leftcol"> Fine Elaborazione</div><div class="col-6"> {{dettagliPrenotazione.fineElab}}</div>
                <div class="col-5 leftcol"> Nome file backup</div><div class="col-6"> {{dettagliPrenotazione.fileBackup}}</div>
                <div class="col-5 leftcol"> Dimensione file backup</div><div class="col-6"> {{dettagliPrenotazione.sizeFileBackup}}</div>
                <div class="col-5 leftcol"> Svecchiamento prenotato da</div><div class="col-6"> {{dettagliPrenotazione.utentePrenotSvecch}}</div>
                <div class="col-5 leftcol"> Svecchiamento prenotato il</div><div class="col-6"> {{dettagliPrenotazione.tmsPrenotSvecch}}</div>
                <div class="col-5 leftcol"> Stato svecchiamento</div><div class="col-6"> {{dettagliPrenotazione.statoSvecch}}</div>
            </div>
            <div class="col-4">
                <div>Elenco partizioni</div>
                <p-table [value]="dettagliPrenotazione.elencoPartizioni" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Partizione</th>
                            <th>Input</th>
                            <th>Output</th>
                            <th>Mapping</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-p>
                        <tr>
                            <td>{{p.codPartCol}}</td>
                            <td><span [ngClass]="p.input ? 'pi pi-check' : 'pi'"></span></td>
                            <td><span [ngClass]="p.output ? 'pi pi-check' : 'pi'"></span></td>
                            <td><span [ngClass]="p.mapping ? 'pi pi-check' : 'pi'"></span></td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</p-dialog>